* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 90vw;
  margin: 0 auto;
  background: linear-gradient(rgba(255,255,255, 0.7), rgba(255,255,255, 0.7)),#d5dcf9;
  display: flex;
  flex-direction: column;
}

/* .register,
.login { */
  /* min-width: 90%; */
  /* border: 3px solid black; */
/* } */

/* .login h3 {
 color: #f5f3f5;
 margin-top: 10px;
} */
form {
/* min-height: 300px; */
max-width: 100%;
background: #441151;
margin: 0 auto;
text-align: center;
padding: 40px 15px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
margin-top: 10px;
}

form input,
form textarea{
flex: 0 0 auto;
min-width: 90%;
margin: 0 auto;
/* display: block; */
padding: 10px;
margin: 10px;
outline: none;
border: none;
background: transparent;
border-bottom: 3px solid #f5f3f5;
margin-bottom: 30px;
}

form input::placeholder,
form textarea::placeholder{
  text-transform: capitalize;
  font-size: 16px;
  color: #f5f3f5;
}

form input:hover::placeholder,
form textarea:hover::placeholder {
  font-size: 12px;
  padding-top: 10px;
}

.btn,
form button {
  padding: 15px 30px;
  border: 2px solid #f5f3f5;
  background: transparent;
  color: #f5f3f5;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  max-width: 70%;
  margin: 0 auto;
  transition: background 2s ease, color 2s ease, border 2s ease;
}

.login h3 {
  display: block;
  align-self: center;
  color: #f5f3f5;
  margin-top: 10px;
}
form button:hover {
  background: #f5f3f5;
  border: none;
  color: #441151;
}

/***********posts*****************/
.posts {
width: 90%;
margin: 0 auto;
/* margin-top: 10px; */
text-align: center;
border-bottom: 2px solid green;
padding: 40px;
background: #919191;
}

.post-title {
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  letter-spacing: 0.3em;
  line-height: 1.3em;
  font-style: italic;
  margin-bottom: 5px;
}

.title-underline {
  width: 250px;
  border: 2px solid #f5f3f5;
  margin: 0 auto;
  margin-bottom: 20px;
}

.post-content {
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 1.5;
}

.author {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.author-name {
  font-style: italic;
  color: #f5f3f5;
  font-size: 26px;
  margin-left: 5px;
}

.new-post {
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
}

.author-create {
  color: #f5f3f5;
  font-size: 24px;
}

.post-list {
  padding: 30px 0;
}

header {
  flex: 0 0 auto;
  width: 90%;
  margin: 0 auto;
  background: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* position: fixed;
  z-index: 1; */
}

.loggedin-text {
  font-size: 18px;
  font-weight: 600;
}
.logout {
  padding: 10px;
}
.logout-btn {
  flex-grow: 0;
  padding: 10px 25px;
  background: #441151;
  border: none;
  color: #f5f3f5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-left: 10px;
  transition: background 2s ease, color 2s ease, transform 2s ease, border 2s ease;
}

.logout-btn:hover {
  background: #f5f3f5;
  color: #441151;
  border: 2px solid #441151;
  transform: scale(0.8);
}

#rest {
  flex: 1 0 auto;
  /* background: red; */
}